
<script id="bootstrap-current-user" type="text/javascript">
  window.staticImages = {
    coffeeBeans: "<%= asset_path("coffee_beans.png") %>",
    aboutBanner: "<%= asset_path("about-banner-photo.jpg") %>",
    hostingBanner: "<%= asset_path("gourmet-coffee-franchise.jpg") %>"
  }

  <% if logged_in? %>
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  <% end %>
</script>

<main id="root">I AM ROOT</main>
