/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*@import "reset.scss";*/

 body {
   background-color: #FAF6E8;
   font-family: "canada-type-gibson", "Gibson", "Helvetica Neue";
 }

header {
  margin-top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background-color: #F7C661;
  height: 76px;
  box-sizing: border-box;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background-color: #F7C661;
  height: 333.25px;
  box-sizing: border-box;
  font-family: "canada-type-gibson", "Gibson", "Helvetica Neue";
  color: white;
}

#footer-links {
  justify-content: center;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-top: 0;
}

.footer-link-item {
  margin-top: 10px;
  font-weight: 500;
}

.footer-link-item > * {
  font: inherit;
  text-decoration: none;
  color: white;
}

#footer-paragraphs {
  justify-content: 0;
  padding-top: 0;
  width: 70%;
  line-height: 23px;
  font-size: 17px;
}

.footer-components > * {
  font: inherit;
}

#footer-components {
  display: flex;
  margin: auto;
  width: 40%;
  justify-content: space-between;
}

form.auth-form {
  width: 100%;
}

div.auth-form-div {
  width: 648.27px;
  margin: 55px auto 55px auto;
  display: flex;
  /*border: 1px solid gray;*/
  box-sizing: border-box;
}


div.auth-form-div > * {
  /*margin: 5px;*/
  font-family: "canada-type-gibson", "Gibson", "Helvetica Neue"
}

.auth-form-header {
  font-size: 1.5em;
  color: #EF6236;
  margin-top: 0;
  font-weight: 600;
}

.auth-form-p {
  line-height: 1.625;
  font-size: 18px;
}

.auth-form-submit, .guest-login-button {
  display: inline-block;
  margin-bottom: 30px;
  margin-top: 16px;
  letter-spacing: 2px;
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
  background-color: #EF6236;
  border-color: #EF6236;
  color: white;
  font-weight: 600;
  border-style: solid;
}

.auth-form-submit:hover {
  background-color: #ED501E;
}

input:focus {
  outline: none;
  background-color: #FAFFBD;
}

button:focus {
  outline: none;
}

.auth-input-field, .auth-form-submit {
  width: 100%;
  height: 59px;
}

.auth-input-field {
  border-radius: 3px;
  padding: 10px;
  padding-left:15px;
  margin-top: 8px;
  margin-bottom:8px;
  border-width: 0.5px;
  box-sizing: border-box;
  font-size: 17px;
  letter-spacing: 1px;
  font-family: "canada-type-gibson", "Gibson", "Helvetica Neue"
  /*box-shadow: none;*/
}

.redirect-below-submit-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-signup-redirect-link {
  color: #EF6236;
  text-decoration: none;
}

.guest-login-div {
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-banner {
  margin: 0;
  background-color: #EF6236;
  color: white;
  font-weight: 600;
  text-align: center;
}

.error-banner > * {
  padding: 8px;
  font-family: "canada-type-gibson", "Gibson", "Helvetica Neue"
}

.nav-links {
  margin: 0;
  padding: 0;
  width: 35%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav-link-item > * {
  color: white;
  font-family: "canada-type-gibson", "Gibson", "Helvetica Neue", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
  text-decoration: none;
}


#navbar-logo-image {
  width: 65px;
  height: 65px;
}

#logo-and-name {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#navbar-logo-text {
  font-size: 22px;
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: bold;
  color: white;
}

.fake-button {
  border: 2px solid white;
  font-family: "canada-type-gibson", "Gibson", "Helvetica Neue", sans-serif;
  background-color: white;
  color: #F7C661;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-radius: 3px;
  font-size: 17px;
  cursor: pointer;
}

.fake-button:hover {
  background-color: #F7C661;
  color: white;
  transition-duration: 0.25s;
}

#nav-div-test {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#set-city-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#set-city-header {
  font-size: 50px;
  font-weight: bold;
  color: #5C5C5C;
}

#active-cities {
  width: 53%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.active-city {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 312px;
  height: 160px;
  border: 1px solid black;
  text-align: center;
  margin: 11px;
  box-sizing: border-box;
  overflow: hidden;
}

.city-photo {
  filter: sepia(50%);
  min-width: 100%;
  min-height: 100%;
  position: relative;
}

.city-name {
  position: absolute;
  color: white;
  font-size: 25px;

}

.city-link {
  color: white;
  text-decoration: none;
}

.city-link:hover {
  text-decoration: underline;
}

.city-show-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 318.5px;
  overflow: hidden;
}

.city-show-banner > span {
  position: absolute;
  font-size: 50px;
  font-weight: 500;
  color: white;
  text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
}

.city-show-photo {
  filter: sepia(60%);
  min-width: 100%;
  min-height: 100%;
  position: relative;
}

.city-page-button {
  text-transform: uppercase;
  margin: 5px;
  font-size: 18px;
  letter-spacing: 1px;
  border-radius: 8px;
  border: 1px solid #EF6236;
  padding: 15px 20px 15px 20px;
  color: white;
  background-color: #EF6236;
  text-decoration: none;
  border-style: solid;
  cursor: pointer;
}

.city-show-below-photo {
  width: 650px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.city-page-button:hover {
  background-color: #C93C10;
}

.city-show-link {
  text-decoration: none;
  color: #EF6236;
}

.city-show-link:hover {
  color: #C93C10;
}

.city-message {
  padding:5px;
  width: 100%;
  background-color: #F1E9C6;
  margin: 10px auto 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.city-message > span {
  color: #EDA20B;
}

.city-show-host-header {
  font-size: 30px;
  font-weight: 500;
  color: #EF6236;
}
