<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
    <title>Coffee With Strangers</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
